<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration Form</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="styles1.css">
</head>
<script>
function formValidation()
{
var uname = document.registration.Name;
var ucity = document.registration.city;
var uemail = document.registration.Email;
var passid = document.registration.Pasword;

if(passid_validation(passid,7,12))
{
if(allLetter(uname))
{ 
if(ValidateEmail(uemail))
{
}
}
}
return false;
}

function passid_validation(passid,mx,my)
{
var passid_len = passid.value.length;
if (passid_len == 0 ||passid_len >= my || passid_len < mx)
{
alert("Password should not be empty / length be between "+mx+" to "+my);
passid.focus();
return false;
}
return true;
}

function allLetter(uname)
{ 
var letters = /^[A-Za-z]+$/;
if(uname.value.match(letters))
{
return true;
}
else
{
alert('Username must have alphabet characters only');
uname.focus();
return false;
}
}

function ValidateEmail(uemail)
{
var mailformat = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
if(uemail.value.match(mailformat))
{
return true;
}
else
{
alert("You have entered an invalid email address!");
uemail.focus();
return false;
}
}
</script>



<body>
<img src="1.jpg"  width="900px">
		

<div class="wrapper">
  <div class="title">
    Register Here
    <br>
	<br>
  
 <form name='login' method="POST" onSubmit="return formValidation()">
    
    <div class="input_field">
      <input type="text" name="Name" placeholder="Name*" class="input">
      <i class="fas fa-user"></i>
    </div>
    <div class="input_field">
      <input type="text" name="Email" placeholder="Email*" class="input">
      <i class="far fa-envelope"></i>
    </div>
    <div class="input_field">
      <input type="password" name="Pasword" placeholder="Password*" class="input">
      <i class="fas fa-lock"></i>
    </div>
	<div class="input_field">
	   <input type="number" name="number" placeholder="phone number" class="input">
      <i class="fas fa-phone"></i>
    </div>
	<div class="input_field">
	   <input type="text" name="city" placeholder="City*" class="input">
      <i class="fas fa-home"></i>
    </div>
    <div class="btn">
      <a href="success.html" onclick="myFunction()">Register</a>
    </div>
  </form>	
	</div>
	
	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">

$("#submit").click(function(e){

e.preventDefault();
$(".error").html("");




var uname = $("#Name").val().trim();
var ucity = $("#city").val().trim();
var uemail = $("#Email").val().trim();
var passid = $("#Pasword").val().trim();
var unum=$("#number").val().trim();



//console.log(file_data[0]["name"]+file_data[0]["type"]);



  var formData = new FormData();
  
// var data =  {
//               "item_name":item_name,
//               "item_type":item_type,
//               "years_old":years_old,
//               "donate_desc":donate_desc,
//               "quality_rating":quality_rating,
//               "file" : file_data[0]
//             };  


//           console.log(data);

  $.ajax({
          url: 'addProduct.php',
          type: 'POST',
          data: {
            "uname":Name,
            "ucity":city,
            "passid":Pasword,
            "uemail":Email,
            "unum":number,
          },
          async: false,
          cache: false,
          contentType: false,
          processData: false,
          success: function () {
              alert('Form Submitted!');
          },
          error: function(){
              alert("error in ajax form submission");
          }
      });



});

    </script>
</body>

</html>